ArtmanMarket/App_WebReferences/com/artman/UserStatistics.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetUserStatisticsXMLImage">
        <s:complexType />
      </s:element>
      <s:element name="GetUserStatisticsXMLImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserStatisticsXMLImageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserStatisticsXMLImageSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserStatisticsXMLImage" />
  </wsdl:message>
  <wsdl:message name="GetUserStatisticsXMLImageSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserStatisticsXMLImageResponse" />
  </wsdl:message>
  <wsdl:portType name="UserStatisticsSoap">
    <wsdl:operation name="GetUserStatisticsXMLImage">
      <wsdl:input message="tns:GetUserStatisticsXMLImageSoapIn" />
      <wsdl:output message="tns:GetUserStatisticsXMLImageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserStatisticsSoap" type="tns:UserStatisticsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserStatisticsXMLImage">
      <soap:operation soapAction="http://tempuri.org/GetUserStatisticsXMLImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserStatisticsSoap12" type="tns:UserStatisticsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserStatisticsXMLImage">
      <soap12:operation soapAction="http://tempuri.org/GetUserStatisticsXMLImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserStatistics">
    <wsdl:port name="UserStatisticsSoap" binding="tns:UserStatisticsSoap">
      <soap:address location="http://localhost:2687/ArtmanMarket/WebServices/UserStatistics.asmx" />
    </wsdl:port>
    <wsdl:port name="UserStatisticsSoap12" binding="tns:UserStatisticsSoap12">
      <soap12:address location="http://localhost:2687/ArtmanMarket/WebServices/UserStatistics.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>